.<!document html>
<html>
<head> 
	<title>New Bucketlist</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/bucketlist.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/public/stylesheets/bootstrap.min.js"></script>
	
</head>

<body>
	<div class = "jumbotron app-name page-header">
		<div class = "container1" >
			<h1> Create New Bucketlist Goal</h1>
		</div>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-3"> <a href ="bucketlist" > Back </a> </li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Data entering starts here -->

	<div class="col-xs-12 col-md-12">
	<div class="picturebody container1 pagebottom" style="margin-top: 10px">

	<form id="addEventForm" role="form" method="get" action="/addEvent">
		<div class="col-xs-1 col-md-1 boxlabels"> </div>
		<div class="col-xs-10 col-md-10  boxlabels text-center">
			<div class="form-group">
				<label for="adventurename">Adventure Name:</label><br>
					<input type="text" name="adventurename">
			</div>
			<label for="category">Category: (up to 2)</label><br>
	    	<div class="dropdowntextbox form-group">
				<select class="drop-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
   					<option></option>
  					<option value="one">Outdoors</option>
  					<option value="two">Cafe</option>
  					<option value="three">Brunch</option>
   					<option value="four">Nightlife</option>
   					<option value="five">Local Food</option>
   					<option value="six">Date Night</option>
   					<option value="seven">Winter Holidays</option>
   					<option value="eight">Local Acitivities</option>
   					<option value="nine">Group Activities</option>
   					<option value="ten">Amusement Parks</option>
   					<option value="eleven">Halloween</option>
   					<option value="eleven">Misc</option>
				</select>
				<input name="category" placeholder="add/select a value" id="displayValue" class="drop-display-val " onfocus="this.select()" type="text">
				<input name="idValue" id="idValue" type="hidden">
			</div>
			<br>
			<div class="dropdowntextbox form-group">
				<select class="drop-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
   					<option></option>
  					<option value="one">Outdoors</option>
  					<option value="two">Cafe</option>
  					<option value="three">Brunch</option>
   					<option value="four">Nightlife</option>
   					<option value="five">Local Food</option>
   					<option value="six">Date Night</option>
   					<option value="seven">Winter Holidays</option>
   					<option value="eight">Local Acitivities</option>
   					<option value="nine">Group Activities</option>
   					<option value="ten">Amusement Parks</option>
   					<option value="eleven">Halloween</option>
   					<option value="eleven">Misc</option>
				</select>
				<input name="category" placeholder="add/select a value" id="displayValue" class="drop-display-val " onfocus="this.select()" type="text">
				<input name="idValue" id="idValue" type="hidden">
			</div>
			<br>

	    	<div class="form-group">
	     		<label for="locationideas">Possible Location(s):</label><br>
	     		<input type="text" name = "locationideas">
	     	</div>
	     	<div class="col-xs-12 col-md-12 text-center">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input>
			</div>
		</div>
	</form> 
	</div>
	</div>



	<!-- 	FOOTER 		-->
	<nav class = "footer nav navbar-default" >
		<div class = "container-fluid container2">
			<li> <a href ="home" class = "col-xs-4"> Home <span class = "sr-only"> </span></a> </li>
			<li> <a href = "memories" class = "col-xs-4"> Memories <span class = "sr-only"> </span> </a> </li>
			<li> <a href = "bucketlist" class = "col-xs-4"> Bucketlist <span class = "sr-only"> </span> </a> </li>
		</div>
	</nav>
</body>
</html>