.<!document html>
<html>
<head> 
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='134594089-12',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->

	
	<title>New Bucketlist</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/bucketlist.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/public/stylesheets/bootstrap.min.js"></script>
	
</head>

<body>
	<div class = "jumbotron app-name page-header">
		<div class = "container1" >
			<h1> Create New Bucketlist Goal</h1>
		</div>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-3"> <a href ="bucketlist1" onclick="ga('send', 'event', 'bbuttons', 'click', '1: bucketnew->back');"> Back </a> </li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- Data entering starts here -->

	<div class="col-xs-12 col-md-12">
	<div class="picturebody container1 pagebottom" style="margin-top: 10px">

	<form id="addEventForm" role="form" method="get" action="/addEvent1">
		<div class="col-xs-1 col-md-1 boxlabels"> </div>
		<div class="col-xs-10 col-md-10  boxlabels text-center">
			<div class="form-group">
				<label for="adventurename">Adventure Name:</label><br>
					<input type="text" name="adventurename">
			</div>
			<label for="category">Category: (up to 2)</label><br>
	    	<div class="dropdowntextbox form-group">
				<select class="drop-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
   					<option></option>
  					<option value="one">Outdoors</option>
  					<option value="two">Cafe</option>
  					<option value="three">Brunch</option>
   					<option value="four">Nightlife</option>
   					<option value="five">Local Food</option>
   					<option value="six">Date Night</option>
   					<option value="seven">Winter Holidays</option>
   					<option value="eight">Local Acitivities</option>
   					<option value="nine">Group Activities</option>
   					<option value="ten">Amusement Parks</option>
   					<option value="eleven">Halloween</option>
   					<option value="eleven">Misc</option>
				</select>
				<input name="category" placeholder="add/select a value" id="displayValue" class="drop-display-val " onfocus="this.select()" type="text">
				<input name="idValue" id="idValue" type="hidden">
			</div>
			<br>
			<div class="dropdowntextbox form-group">
				<select class="drop-select" onchange="document.getElementById('displayValue').value=this.options[this.selectedIndex].text; document.getElementById('idValue').value=this.options[this.selectedIndex].value;">
   					<option></option>
  					<option value="one">Outdoors</option>
  					<option value="two">Cafe</option>
  					<option value="three">Brunch</option>
   					<option value="four">Nightlife</option>
   					<option value="five">Local Food</option>
   					<option value="six">Date Night</option>
   					<option value="seven">Winter Holidays</option>
   					<option value="eight">Local Acitivities</option>
   					<option value="nine">Group Activities</option>
   					<option value="ten">Amusement Parks</option>
   					<option value="eleven">Halloween</option>
   					<option value="eleven">Misc</option>
				</select>
				<input name="category" placeholder="add/select a value" id="displayValue" class="drop-display-val " onfocus="this.select()" type="text">
				<input name="idValue" id="idValue" type="hidden">
			</div>
			<br>

	    	<div class="form-group">
	     		<label for="locationideas">Possible Location(s):</label><br>
	     		<input type="text" name = "locationideas">
	     	</div>
	     	<div class="col-xs-12 col-md-12 text-center">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input>
			</div>
		</div>
	</form> 
	</div>
	<br><br><br><br>
	</div>



	<!-- 	FOOTER 		-->
	<nav id="footer" class = "footer nav navbar-default" >
		<div class = "container-fluid container2 row-fluid">
			<div class="col-xs-1"></div>
			<li class="footer-border footer-seperation"> <a href ="home" onclick="ga('send', 'event', 'fbuttons', 'click', '0: home->home');" class = "col-xs-4 offset1"> <input type="image" class="footer-img" src="http://www.nuyken-transport.de/images/home-13.png"> Home <span class = "sr-only"> </span></input></a> </li>

			<li class="footer-border footer-seperation"> <a href = "memories" onclick="ga('send', 'event', 'fbuttons', 'click', '0: home->memory');" class = "col-xs-4 te"> <input type="image" class="footer-img" style="padding-top:3px;" src="http://www.berkelbike.com/wp-content/uploads/2014/08/50xNxman.png.pagespeed.ic.R6lWNMBbFB.png">Memories <span class = "sr-only"> </span> </input></a> </li>

			<li class="footer-seperation"> <a href = "bucketlist" onclick="ga('send', 'event', 'fbuttons', 'click', '0: home->bucket');" class = "col-xs-4"><input type="image" class="footer-img" src="http://www.geldplus.net/wp-content/uploads/2015/04/fazit.png"> Bucketlist <span class = "sr-only"> </span></input></a> </li>
		</div>
	</nav>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 

  ga('create', 'UA-88015729-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>