.<!document html>
<html>
<head> 
	
	<title>MyBucketlist</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/bucketlist.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arvo|Bangers|Inconsolata|Josefin+Sans|Kalam|Playfair+Display+SC" rel="stylesheet">
	<!-- <script src = "javascript/memories.js"> </script> -->
	
	<!-- <script src="js/bootstrap/bootstrap-dropdown.js"></script> -->
	<script src="javascripts/jquery-1.11.0.js"></script>
	<script src="javascripts/bucketlist.js"></script>

	<script src="javascripts/bootstrap.min.js"></script> 
	
	
</head>

<body>
	<div class = "jumbotron app-name page-header header">
		<img src="/images/Bucketlist.png">
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-offset-1 col-md-offset-1"\>
						<li class  = "col-xs-1 col-md-offset-1"\>
						<ul class = "nav navbar-nav">
							<li> <a href ="home" onclick="ga('send', 'event', 'bbuttons', 'click', '0: bucket->back');" ><input type="image" class="nav-top-img" style="padding-bottom: 5%;" src="http://karlstratos.com/images/back.png"> </input> <br> </a> </li>
						</ul>
					</li>
					<center>
					
					<li class  = "col-xs-6 col-md-6" >
						<!--<form class="navbar-form nav-center">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search my Bucketlist">
						</div>
						<button type="submit" class="btn btn-secondary search">Search </button>
						</form> -->
					</li>
					</center>
					<li class  = "col-xs-3 col-md-offset-1"\ >
						<ul class = "nav navbar-nav">

							<li> <a href = "newBucketlist" onclick="ga('send', 'event', 'nbuttons', 'click', '0: memories->new');" > <input type="image" class="nav-top-img" style=" padding-bottom:10%" src="http://freeiconbox.com/icon/256/7543.png"><br>New Event </input></a> </li>
						</ul>
					</li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	<div class="col-xs-12 col-md-12">

	<!-- WHERE THE PICTURES START -->
	<div class = "picturebody container" style = "margin-top: 10px;" action="/selectEvent">
		<div class = "row">
			{{#each mybucketlist}}
			{{#if delete}}
			{{else}}
			<div class = "col-xs-6 col-md-6" >
				<a class="select" id="bucketExpanded{{@index}}">
				<div class = "thumbnail img-thumbnail  module mid" style="background: 
    				linear-gradient(
      					rgba(0, 0, 0, 0.3),
      					rgba(0, 0, 0, 0.3)),
     				url({{adventurepics}});
     				background-size: cover">
					<div class = "caption text-center">
						<h4> {{adventurename}} </h4>
					</div>
				</div> 
				</a>
			</div>
			{{/if}}
			{{/each}}
		</div>
	</div>
		<br><br><br><br><br>
	</div>
	<!-- 	FOOTER 		-->
	<nav id="footer" class = "footer nav navbar-default" >
		<div class = "container-fluid container2 row-fluid">
			<div class="col-xs-1"></div>
			<li class="footer-border footer-seperation"> <a href ="home" onclick="ga('send', 'event', 'fbuttons', 'click','0: bucketlist->home');" class = "col-xs-4 offset1"> <input type="image" class="footer-img" src="http://www.nuyken-transport.de/images/home-13.png"> Home <span class = "sr-only"> </span></input></a> </li>

			<li class="footer-border footer-seperation"> <a href = "memories" onclick="ga('send', 'event', 'fbuttons', 'click','0: bucket->memory');" class = "col-xs-4 te"> <input type="image" class="footer-img" style="padding-top:3px;" src="http://www.berkelbike.com/wp-content/uploads/2014/08/50xNxman.png.pagespeed.ic.R6lWNMBbFB.png">Memories <span class = "sr-only"> </span> </input></a> </li>

			<li class="footer-seperation"> <a href = "bucketlist" onclick="ga('send', 'event', 'fbuttons', 'click','0: bucket->bucket');" class = "col-xs-4"><input type="image" class="footer-img" src="http://www.geldplus.net/wp-content/uploads/2015/04/fazit.png"> Bucketlist <span class = "sr-only"> </span></input></a> </li>
		</div>
	</nav>

		<script src="javascripts/button_interactions/bucket_interaction.js"></script>


</body>
</html>
