.<!document html>
<html>
<head> 
	<title>Explore</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/home.css" rel="stylesheet"/>
	<link href="intro/introjs.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="intro/intro.js"></script>
    <script src = "/javascripts/home.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/public/stylesheets/bootstrap.min.js"></script> -->
	
</head>

<body>
	<div class = "jumbotron app-name page-header header">
		<h1 class="text-center"> -- Just Go --  <br>   (OPTION 2) </h1>
		<h3 data-step="1" data-intro="You are currently in the Everyday Adventures section. You can select any tile below to show activties in that category.">:: Everyday Adventures ::</h3>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<!--<li class  = "col-xs-3"> <a href ="home" > Back </a> </li>
					Don't need a back button	-->
					<li class  = "col-xs-12 text-center" >
						<form class="navbar-form nav-center">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
            <h3 data-step="2" data-intro="Use the search bar to search for an activity you are looking for.">
						<button type="submit" class="btn btn-secondary" href="home">Search </button></h3>
						</form>
					</li>
					<li class  = "col-xs-3 .col-md-offset-3"\ >
						
					</li>
				</div>			
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	
	<!-- <div>
	<h3>New to Just Go?</h3>
        <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Tutorial</a>
    </div> --> 

    <div id="slideout">
  		<img src="images/tutorial.jpg" class="tutorial-image" alt="Tutorial" />
 		 <div id="slideout_inner">
 		 	<br><br>
    		<a class="btn btn-large btn-default" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Tutorial</a>
    		<h5 class="text-center" style="color:white; font-family: 'Shadows Into Light', cursive;"> Click! </h5>
    		<br>
  		</div>
	</div>

	<div class="col-xs-12 col-md-12">

	<!-- WHERE THE PICTURES START -->
	<div class = "picturebody container" style ="margin-top: 10px;">
			{{#each myhomepage}}

			<div class = "col-xs-12" >
				<a id="homeExpanded{{@index}}" > 
				<!-- <a href="homeExpand">-->
				<div class = "thumbnail img-thumbnail  module mid" style="background: 
    				linear-gradient(
      					rgba(0, 0, 0, 0.3),
      					rgba(0, 0, 0, 0.3)),
     				url({{category_url}});
     				background-size: cover" >
					<div class = "caption text-center">
						<h4> {{category}} </h4>
					</div>
				</div> 
				</a>
			</div>
			{{/each}}
			
	</div>
<br><br>
	</div>

	<!-- 	FOOTER 		-->
  <h3 data-step="3" data-intro="Use the bottom menue to take you Home, to your Memories, or your Bucketlist at anytime.">
	<nav class = "footer nav navbar-default" >
		<div class = "container-fluid container2">
			<li> <a href ="home" class = "col-xs-4"> Home <span class = "sr-only"> </span></a> </li>
			<li> <a href = "memories" class = "col-xs-4"> Memories <span class = "sr-only"> </span> </a> </li>
			<li> <a href = "bucketlist" class = "col-xs-4"> Bucketlist <span class = "sr-only"> </span> </a> </li>
		</div>
	</nav>
</h3>
	<script src="javascripts/button_interactions/home_interaction.js"></script>
  <script src="intro/intro.js"></script>
</body>
</html>