.<!document html>
<html>
<head> 
	<title>New Memories</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
	<link href="stylesheets/memories.css" rel="stylesheet"/>
	
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/public/stylesheets/bootstrap.min.js"></script>
	
</head>

<body>
	<script src="javascripts/mydate.js"></script>
	<div class = "jumbotron app-name page-header">
		<div class = "container1" >
			<h1> Create New Memories </h1>
		</div>
	</div>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse  container1">
				<div class="nav navbar-nav navigation">
					<li class  = "col-xs-3"> <a href ="memories" > Back </a> </li>
					<li class  = "col-xs-3 .col-md-offset-3"\ >
						
					</li>
				</div>
				
				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div class="col-xs-12 col-md-12">
	<div class="picturebody container1 pagebottom" style="margin-top: 10px">

	<form id="addMemoryForm" role="form" method="get" action="/addMemory">
		<div class="col-xs-1 col-md-1 boxlabels"> </div>
		<div class="col-xs-10 col-md-10 boxlabels text-center">
			<div class="form-group">
				<label for="tripname">Adventure Name:</label><br>
					<input type="text" name="tripname">
			</div>
			<div class="form-group">
	     		<label for="category">Category:</label><br>
	     		<input type="text" name = "category">
	    	</div>
	    	<div class="form-group">
	     		<label for="location">Location:</label><br>
	     		<input type="text" name = "triploc">
	     	</div>
	     	<div class="form-group">
	     		<label for="date">Date:</label><br>
	     		<input type="date" id="dt" onchange="mydate1();" hidden/>
				<input type="text" id="ndt"  onclick="mydate();" name="tripdate" hidden />
				<input type="button" Value="Date" onclick="mydate();" />
				
	     	</div>
	     	<!--<div class="form-group">
	     		<label for ="pictures">Trip Pictures:</label>
	     		<input type="file" name ="trippics" accept="imagine/*">
	     	</div>-->
	     	<div class="form-group">
	     		<label for="friends">Tagged Friends:</label><br>
	     		<input type="text" name = "tripfriends">
	     	</div>
	     	<div class="form-group">
	     		<label for="notes">Notes:</label><br>
	     		<textarea name="tripnotes" rows="4" cols="50"></textarea>
	     	</div>
	     	<div class="col-xs-12 col-md-12 text-center">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Submit"> </input>
			</div>
		</div>
	</form> 
	</div>
	</div>



	<!-- 	FOOTER 		-->
	<nav class = "footer nav navbar-default" >
		<div class = "container-fluid container2">
			<li> <a href ="home" class = "col-xs-4"> Home <span class = "sr-only"> </span></a> </li>
			<li> <a href = "memories" class = "col-xs-4"> Memories <span class = "sr-only"> </span> </a> </li>
			<li> <a href = "bucketlist" class = "col-xs-4"> Bucketlist <span class = "sr-only"> </span> </a> </li>
		</div>
	</nav>


</body>
</html>
