wh*{
	font-size: 32px;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

h4{
font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

body {
	background-color: white;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

html {
	margin: 0;
	padding: 0;
	color: #000;
}

label {
  float:left;
}

input {
  width:100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}
.pagebottom {
  padding-bottom: 50px;
  margin-top: 10px;
}
.dropdowntextbox {
  position:relative;
  width:200px;
  height:25px;
  border:0;
  padding:0;
  margin:0;
}
.drop-select {
  position:absolute;
  top:0px;
  left:0px;
  width:200px; 
  height:25px;
  line-height:20px;
  margin:0;
  padding:0;
}
.drop-display-val {
  position:absolute;
  top:0px;
  left:0px;
  width:183px;
  width:180px\9;
  #width:180px;
  height:23px; 
  height:21px\9;
  #height:18px;
  border:1px solid #556;
}
.container1 {
	display: flex;
	justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
    background-color: #BEBEBE;
}

.jumbotron {
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
	margin-top: 0;
	background-color: #e7e7e7;
}

.form-control {
	height: 32px;
}

.thumbnail {
	  margin-bottom: 5%;
    margin-top: 5%;
}

.picture-body{
	background-color: lightblue;
	display: flex;
	justify-content: center;
}

.navbar-nav {
	display:table;
    margin: 0;
	width: 100%;
	padding: 0;
}

.footer {
	position: fixed;
  padding-top: 10;
	width: 100%;
	bottom: 0;
  font-size: 20px;
}

.page-header {
	color: white;
    margin-bottom : 0;
    opacity: .89;
    background: 
      url(http://67.media.tumblr.com/1102214e8c0b732c2afa4b38944ca72c/tumblr_odd5mlNXtw1uvpnq9o3_1280.jpg);
      background-color: #e7e7e7;   
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://66.media.tumblr.com/e95961696bb79f01013bda678452bce9/tumblr_og0o4cf8BT1rsezm9o1_1280.jpg);
    background-size: cover;
    width: 150%;
    height: 25%;
    min-height: 10%;
    min-width: 110%;
    float: left;
    position: relative;
}

.mid h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);
}

a{
	cursor: pointer;
}

