body {
     border: 1px dotted gray;
     padding: 20p;
     background-color: lightblue;
}

html {
     margin: 0;
     padding: 0;
     color: #000;
     background: #a7a09a;
}

.button{
     background-color: #d3d3d3;
     border: black;
     color: black;
     padding: 15px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     margin-left: 20px;
     background-color: #d3d3d3;
     padding: 15px; 
     width: 300px;
}

.icon{ 
     background-color: #d3d3d3;
     border: black;
     color: black;
     padding: 15px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     margin-left: 20px;
     background-color: #d3d3d3;
     padding: 20px; 
     width: 150px;
};

input [type=text]{
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 12px 20px 12px 40px;
}

.header{
     background: #ddd;
     padding: 5px 10px;
     text-align:center;
}
#wrap {
     width: 750px;
     margin: 0 auto;
     background: #99c;
}
#main {
    margin:0;
    padding-left: 10px;
}
#footer {
    clear:both;
    background: #cc9;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer li {
    display: inline;
    margin: 0;
    padding:85px;
}

