wh*{
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

body {
    background-color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
    color: #000;
}
.pagebottom {
  padding-bottom: 50px;
  margin-top: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
        color: white;
}
.container2 {
    display: flex;
    justify-content: center;
    background-color: #BEBEBE;
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #e7e7e7;
}

.form-control {
    height: 32px;
}

.thumbnail {
    margin-bottom: 5%;
    margin-top: 5%;
}

.picture-body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display:table;
    margin: 0;
    width: 100%;
    padding: 0;
}

.footer {
    padding-top: 10;
    position: fixed;
    width: 100%;
    background-color: #e7e7e7;
    bottom: 0;
    font-size: 20px;
}

.page-header {
  
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 10%;
    color:white;
    background: 
      url(http://67.media.tumblr.com/1102214e8c0b732c2afa4b38944ca72c/tumblr_odd5mlNXtw1uvpnq9o3_1280.jpg);
      background-color: #e7e7e7;
    
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}
h3 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}


.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://66.media.tumblr.com/e95961696bb79f01013bda678452bce9/tumblr_og0o4cf8BT1rsezm9o1_1280.jpg);
    background-size: cover;
    width: 150%;
    height: 25%;
    min-height: 10%;
    min-width: 110%;
    float: left;
    position: relative;
}

.mid h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
.tutorial-image {
  max-width: 100%;
  width: 65%;
  background-position: right 70px;
  background-color: white;
}
#slideout {
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
  position: fixed;
  padding-left: 5px;
    padding-right: 5px;
  padding-bottom: 17px;
  top: 40px;
  left: -70px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #419641;
}
#slideout:hover {
  left:70px;
}
#slideout:hover #slideout_inner {
  left: 0;
}
