wh*{
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

h4{
	font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

body {
    background-color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
    color: #000;
}

.container1 {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
    background-color: #BEBEBE;
}

.jumbotron {
    margin-top: 0;
}

.navbar {
    margin-bottom: 0;
    margin-top: 0;
    background-color: #e7e7e7;
}

.form-control {
    height: 32px;
}

.thumbnail {
    margin: 15px 15px 15px 15px;
}

.picture-body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display:table;
    margin: 0;
    width: 100%;
    padding: 0;
}

.footer {
    position: fixed;
    width: 100%;
    background-color: #e7e7e7;
    bottom: 0;
}

.page-header {
    margin-bottom : 0;
        color: white;
    background: 
      url(http://67.media.tumblr.com/1102214e8c0b732c2afa4b38944ca72c/tumblr_odd5mlNXtw1uvpnq9o3_1280.jpg);
      background-color: #e7e7e7;  
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}


.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://65.media.tumblr.com/a32a263e3cd5d1b7415337abe19ccf7d/tumblr_og11gvKznQ1uq521lo1_500.jpg);
    background-size: cover;
    width: 150%;
    height: 50%;
    min-height: 10%;
    min-width: 10%;
    float: left;
    position: relative;
    margin-bottom: 5%;
}

.mid h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rp;
  transform: translate(-50%, -50%);
}
