wh*{
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

h4{
	font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

body {
    background-color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
    color: #000;
}

label {
  float:left;
}

input {
  width:100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}
#addMemoryForm {
  display: flex;
  flex-direction:row-reverse;
}
#dt{
  text-indent: -500px;height:25px; width:200px;
}
.pagebottom {
  padding-bottom: 50px;
  margin-top: 10px;
}

.container1 {
    display: flex;
    justify-content: center;

}
.container2 {
    display: flex;
    justify-content: center;
    background-color: #BEBEBE;
}

.jumbotron {
    margin-top: 0;
}

.navbar {
    margin-bottom: 0;
    margin-top: 0;
}

.form-control {
    height: 32px;
}

.thumbnail {
    margin-bottom: 5%;
    margin-top: 5%;
}

.picture-body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display:table;
    margin: 0;
    width: 100%;
    padding: 0;
}

.footer {
    padding-top: 10;
    position: fixed;
    width: 100%;
    background-color: #e7e7e7;
    bottom: 0;
    font-size: 20px;
}

.page-header {
      justify-content: center;
      text-align: center;
    margin-bottom : 0;
        color: white;
    background: 
      url(http://67.media.tumblr.com/1102214e8c0b732c2afa4b38944ca72c/tumblr_odd5mlNXtw1uvpnq9o3_1280.jpg);
      background-color: #e7e7e7;  
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}


.module {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(https://65.media.tumblr.com/a32a263e3cd5d1b7415337abe19ccf7d/tumblr_og11gvKznQ1uq521lo1_500.jpg);
    background-size: cover;
    width: 150%;
    height: 25%;
    min-height: 10%;
    min-width: 110%;
    float: left;
    position: relative;
    margin-bottom: 5%;
}

.mid h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);
}
