*{
	font-size: 32px;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

body {
	background-color: lightblue;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}

html {
	margin: 0;
	padding: 0;
	color: #000;
}

.container1 {
	display: flex;
	justify-content: center;
	background-color: #e7e7e7;
}

.jumbotron {
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
	margin-top: 0;
	background-color: #e7e7e7;
}

.form-control {
	height: 32px;
}

.thumbnail {
	margin: 15px 15px 15px 15px;
}

.picture-body{
	background-color: lightblue;
	display: flex;
	justify-content: center;
}

.navbar-nav {
	display:table;
    margin: 0;
	width: 100%;
	padding: 0;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.page-header {
	margin-bottom : 0;
	background-color: #e7e7e7;
	
}

.caption {
	text-align: center;
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}




