body {
	border: 1px dotted gray;
	background-color: lightblue;
}

html {
	margin: 0;
	padding: 0;
	color: #000;
	baackground: #a7a09a;
}

.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-center {
	text-align: center;
}
.navbar-nav {
	display:table;
    width:100%;
    margin: 0;
}

.page-header {
	margin-bottom : 0;
}