body {
	border: 1px dotted gray;
	padding: 20p;
	background-color: lightblue;
}

html {
	margin: 0;
	padding: 0;
	color: #000;
	baackground: #a7a09a;
}

#wrap {
	width: 750px;
	margin: 0 auto;
	background: #99c;
}

#header {
	background: #ddd;
	padding: 5px 10px;
}

#search {
	width: 50%;
	margin: auto;
}

#main {
	float: left;
	width:  375px;
	background: #9c9;
}

#sidebar {
	float: right;
	width: 375px;
	background: #9c9;
}

#footer {
	clear:both;
	background: #cc9;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#footer li {
	display: inline;
	margin: 0;
	padding:85px;
}

.btn-home{
	color: red;
	background-color: green;
}